.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white
}

.Footer ul {
  list-style: none;
  display: flex;
}

.Footer li {
  flex-wrap: wrap;
}

.Footer p {
  padding-left: 12px;
  margin-bottom: 0;
}

.Footer a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
}