.PurchaseProduct {
  text-align: center;
  margin-bottom: 25px;
}

.PurchaseProduct img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  box-shadow: 5px 2px 8px  rgba(0,0,0,0.4);
}

.PurchaseProduct p { 
  font-size: 1.2em;
}

.PurchaseProduct .container {
  color: #689f38;
  font-size: 1.2em;
  margin: 10px;
}