.Home {
  text-align: center;
}

.Home .imageContainer {
  height: 100vh;
  background-image: url("../../assets/landing.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(128, 128, 128, 0.7);
}

.Home h1 {
  margin: 0 auto;
  padding-top: 20%;
  color: white;
  font-size: 5em;
}

.Home h2 {
  letter-spacing: 3px;
  font-size: 2em;
  display: inline-block;
  text-transform: uppercase;
}

.Home p {
  color: white;
  font-size: 1.4em;
}

.Home span {
  color: #F06418;
}